@font-face {
    font-family: 'Havelock Titling';
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: url(/assets/fonts/Havelock-Titling-500.woff2) format('woff2');
}

@font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 300;
    font-display: swap;
    src: url(/assets/fonts/Poppins-300.woff2) format('woff2');
}

p {
    +p {
        margin-top: theme('spacing.5');
    }
}

body {

    @media (min-width: theme('screens.sm')) {}

    @media (min-width: theme('screens.md')) {}
}